body {
    background-color: black;
    color: ghostwhite;
    margin: 0;
    height: 100vh;
}

.container {
    width: 80%;
    padding: 20px;
}

.audio-list {
    margin: 20px 0;
}

audio {
    display: block;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #0b0b0b;
    border: 2px solid #222;
    border-radius: 5px;
    color: ghostwhite;
    cursor: pointer;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

button:hover {
    filter: brightness(1.2);
}