/* Scrollbar styling */
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background: #333;
}
body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    border: 3px solid #222;
}

/* Hidden class */
.hidden {
    display: none;
}

.vanish {
    opacity: 1;
    animation: vanish 3s forwards;
}

@keyframes vanish {
    to {
        opacity: 0;
    }
}

#invisible-button {
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 1;
}

#enigma-pop-up-window {
    background-color: #0b0b0b;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.input-wrapper {
    display: flex;
    align-items: center;
    z-index: 1;
}

#input-pop-up {
    background-color: #0b0b0b;
    border: 2px solid #222;
    border-radius: 5px;
    padding: 10px;
    color: ghostwhite;
    font-size: 12px;
    outline: none;
    height: 12px;
    z-index: 1;
}

#close-pop-up-button {
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;
    background-color: #0b0b0b;
    color: ghostwhite;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    width: 36px;
    z-index: 1;
}

#close-pop-up-button .cross-icon {
    width: 12px; /* Adjust size as needed */
    height: 12px; /* Adjust size as needed */
    z-index: 1;
}

#close-pop-up-button:not(:disabled):hover .cross-icon {
    filter: brightness(0.8); /* Darken on hover if not disabled */
    z-index: 1;
}

/* Password button (visible) */
#password-button, #chapter-select {
    background-color: #0b0b0b;
    border: 2px solid #222;
    border-radius: 5px;
    color: ghostwhite;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

#password-button:hover, #chapter-select:hover {
    background-color: #222;
    color: white;
}

/* Scroll-to-top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px; /* Adjust padding to fit the icon */
    background-color: black;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top */
    border: none;
    box-shadow: none;
    outline: none;
}

#scroll-to-top img {
    width: 50px; /* Adjust the size of the icon */
    height: 50px; /* Adjust the size of the icon */
}

#scroll-to-top:not(:disabled):hover img {
    filter: brightness(0.8); /* Darken on hover if not disabled */
    transform: scale(1.1);
}

/* Styling for the back to desktop button */
#back-button {
    position: fixed;
    width: 50px; /* Set an appropriate width for the icon */
    height: 50px; /* Set an appropriate height for the icon */
    top: 20px;
    left: 20px;
    padding: 10px; /* Adjust padding to fit the icon */
    background : none;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays on top */
    border: none;
    box-shadow: none;
    outline: none;
}

/* Optional: Adjust the image inside the button */
#back-button img {
    width: 100%;
    height: 100%;
}

.back-to-desktop:hover {
    filter: brightness(0.8);
    transform: scale(1.1);
}